@import '../../styles/colors.scss';

.logoBig {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  span {
    color: $primaryDark;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 2rem;
  }

  .image {
    width: 3.5rem;
    height: 5rem;
  }

  span:nth-of-type(2) {
    color: $primary;
  }
}
