@import '../../styles/colors.scss';

.environmentList {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  background-color: $background;
  font-family: Roboto;

  &.empty,
  &.error {
    height: 100svh;

    .content {
      height: 100%;
      padding: 2rem 0 0 0;
    }
  }

  .content {
    padding: 2rem;
    padding-bottom: 6rem;

    .blankPage {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-radius: 2rem 2rem 0 0;
      background-color: $white;
      padding: 0 1rem;
    }

    .iconWrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 0.25rem;

      &:hover {
        cursor: pointer;
        background-color: $lightGray;
        border-radius: 0.5rem;
        opacity: initial;
      }

      .icon {
        width: 2rem;
        height: 2rem;
        * {
          color: $primary;
        }
      }

      .iconLabel {
        color: $primary;

        font-size: 1rem;
        font-weight: 700;
      }
    }
  }

  @media screen and (min-width: 769px) {
    padding-bottom: 0;

    .content {
      .environmentCardGrid {
        margin-top: 2rem;
      }
    }
  }
}
