@import '../../styles/colors.scss';

.header {
  width: 100%;
  padding: 1rem;
  background-color: $lightGray;
  position: sticky;
  top: 0;
  z-index: 1;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pageTitle {
      color: $primaryDark;
      font-family: Roboto;
      font-size: 1.25rem;
      font-weight: 700;
      padding-bottom: 0.25rem;
      border-bottom: 3px solid $primary;
    }

    .menuIcon {
      width: 2rem;
      height: 2rem;

      &:hover {
        cursor: pointer
      }
    }
  }

  @media screen and (min-width: 769px) {
    padding: 1.5rem 2rem;
  
    .content .pageTitle {
      font-size: 1.75rem;  
      border-bottom: 4px solid $primary;
  
    }
  }
}
