@import '../../styles/colors.scss';

.register {
  background: $backgroundGradient;
  
  .buttonWrapper {
    width: 9rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    height: 100svh;
    width: 100%;
    margin: auto;
    background-color: $background;
    padding: 0 2rem;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25);
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: $gray;
  }

  .form {
    margin-top: 4rem;

    fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    legend {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 2rem;
    }

    legend:nth-of-type(2) {
      margin-bottom: 0;
      margin-top: 3rem;
    }

    .submitWrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        color: $gray;
      }
    }
  }

  @media screen and (min-width: 769px) {
    .content {
      width: fit-content;
      padding: 0 5rem;
    }

    .form legend {
      font-size: 1.2rem;
    }

    .submitWrapper span {
      font-size: 1.1rem;
    }
  }
}
